.cotizacion-result {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.cotizacion-result h2,
.cotizacion-result h3 {
    margin-top: 0;
}

.cotizacion-info,
.cliente-info {
    margin-bottom: 20px;
}

.cotizacion-info p,
.cliente-info p {
    margin: 5px 0;
}

.cotizacion-info p span,
.cliente-info p span {
    font-weight: bold;
    color: #333;
}

.cotizacion-info p strong,
.cliente-info p strong {
    margin-right: 5px;
}
