body {
    background-color: #f5f5dc; /* Fondo color crema */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-top: 20px;
}

.container {
    background-color: #ffffff; /* Fondo color blanco para el contenedor */
    width: 50%; /* Ancho del contenedor */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Alinear contenido al centro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

header {
    margin-bottom: 20px;
}

button {
    background-color: #008000; /* Fondo color verde */
    color: #ffffff; /* Letras blancas */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #006400; /* Cambio de color al pasar el mouse */
}

#llenarArray, #numPares, #numImpares {
    margin-top: 20px;
}
