* {
    background-color: white;
    color: black;
}


body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif; 
}

#encabezado {
    width: 100%;
   
    text-align: center;
}


#encabezado h1, #encabezado h2, #encabezado h3 {
    text-align: center; 
    margin: 0; 
}

#encabezado img {
    display: block; 
    margin: 0 auto; 
}




#menu {
    background-color: blue; 
    color: black; 
}

#menu a {
    transition: color 0.3s, font-size 0.3s; 
}



ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 1em;
}

li a:hover {
    color: crimson;
    font-size: 20px;
    text-decoration: none;
}

.img {
    width: auto;
    justify-items: center;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 5px 25px;
    color: white;
}

#pie {
    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
    color: aliceblue;
}

.anta-regular {
    font-family: "anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    overflow: hidden;
    max-width: calc(50% - 20px); 
    margin: 10px;
    text-align: center;
    border: 2px solid;
    float: left; 
    box-sizing: border-box; 
    transition: transform 0.3s ease; 
}

@media (max-width: 768px) {
    .card {
        max-width: 100%; 
        margin: 10px auto; 
        float: none; 
    }
}

.card:hover {
    transform: scale(1.1); 

}

.card img {
    max-width: 100%; 
    height: auto; 
}


.title {
    color: rgb(224, 201, 201);
    font-size: 10px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px; 
}

button:hover {
    opacity: 0.7%;
}


.contenedorFlex{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}