/* selector universal */

*{  padding: 0;
    margin: 0;

}

/* selctor de etiqueta */
body{
background-color:rgb(91, 206, 126);
color: white;

}

/* selector de id */
#contenedor{
width: 900px;
height: 80%;
background-color: #dee0b7;
}

#encabezado{
width: 700px;
background-color: #6c844e;
margin: 1em;
border-radius: 15px;
text-align: center;
}

#menu{
height: 4%;
background-color: #7e815b;
margin: 1em;
border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30 px;
    margin: 3em;

}

li a:hover{
   color:aqua;
   text-decoration: none;
   list-style: none;

}
.texto{

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:#000 ;
}

#contenido{
height: 75%;
width: 50%;
background-color: #dee0b7;
margin: 0.5em;
display: inline-block;
border-radius: 5px;
text-align: center;
}

.img{

    width: 40%;
    border-radius: 30px;
    justify-items: center;

}

.encabezado-articulo{
padding: 10px;
text-align: center;
background-color: rgb(83, 152, 87);
color: rgb(255, 255, 255);
margin: 1em 2em;
border-radius: 5px;
}
#fueraseccion{
height: 990px;
width: 35%;
background-color: #b5bf9a;
margin: 0.5em;
display: inline-block;
vertical-align: top;
border-radius: 5px;
}
.encabezado-aside{
padding: 5px 5px;
text-align: center;
border-radius: 15px;
background-color: rgb(89, 161, 81);
color: white;
margin: 1em 1em;
}

.menu-aside{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
padding: 0 2px;
list-style: square;
color: #000;
}

.lista-aside li {
padding: 20px;
}

.lista-aside li{
display: flex;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 10px;
padding: 0 2px;
color:#000;
}

#pie {
height: 10%;
background-color: #b5df9a;
margin: 1.5 em;
text-align: center;
padding: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 30px;

}

#fueraseccion1{
    height: 100%;
    width: 100%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    }